/*gallery*/
.body{
    font-family: sans-serif;
}

.photo-gallery {
  color:#313437;
  background-color:#fff;
}

.photo-gallery p {
  color:#7d8285;
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}

.row-photos {
  border-radius: 25%; 
}
.carousel-slider {
    width: 800px;
    height: 500px; 
}


.carousel-item {
  height: 65vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*gallery koniec*/


.container {
  max-width: 960px;
}

.icon-link > .bi {
  width: .75em;
  height: .75em;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}


.rounded-circle {
  border-radius: 50%!important;
}
.border-5 {
  border-width: 5px;
}

.border-white {
  border-color: rgba(255,255,255, 1) !important;
}

.shadow {
  box-shadow: 0 0.375rem 1.5rem 0 rgba(140,152,164,.125)!important;
}


img {
  max-width: 100%;
  height: auto;
}

.icon-sm {
  width: 1.5rem;
  height: 1.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 75%;
  line-height: normal;
}
.rounded-circle {
  border-radius: 50%!important;
}

.hover-top-in .hover-top--in {
  transition: ease-in-out all .35s;
  position: relative;
  top: 0
}

.hover-top-in:hover .hover-top--in {
  top: -10px
}

.me-1 {
  margin-right: 0.25rem!important;
}

.fw-700 {
  font-weight: 700!important;
}
.mb-1 {
  margin-bottom: 0.25rem!important;
}

.z-index-1 {
  z-index: 1!important;
}

.pt-6 {
  padding-top: 2.5rem!important;
}
.p-4 {
  padding: 1.5rem!important;
}
.mt-n4 {
  margin-top: -1.5rem!important;
}

.shadow {
  box-shadow: 0 0.375rem 1.5rem 0 rgba(var(--bs-gray-700-rgb),.125)!important;
}
.px-5 {
  padding-right: 2rem!important;
  padding-left: 2rem!important;
}
.position-relative {
  position: relative!important;
}
.overflow-hidden {
  overflow: hidden!important;
}

.custom-container {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 50px;
  margin-top: 50px;
}

.custom-heading {
  color: #333333;
  text-align: center;
}
.custom-label {
  font-weight: bold;
}
.custom-button {
  background-color: #fffdfd;
}
.custom-button:hover {
  background-color: #e7e7e7;
}

.custom-container-prevádzky {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-top: 50px;
}
.custom-heading-prevádzky {
  color: #333333;
  text-align: center;
}
.list-group-item {
  background-color: transparent;
  border: none;
}
.list-group-item i {
  margin-right: 10px;
}


#map-container {
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
}
#map {
  width: 100%;
  height: 100%;
}
.map-overlay {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.interesting-heading {
  background-color: #d0d0d0; /* Farba pozadia */
      padding: 20px 0; /* Vertical padding */
      text-align: center; /* Zarovnanie textu na stred */
      color: #000000; /* text farba */
      font-size: 2rem; /* Font veľkosť */
      font-weight: bold; /* Bold font weight */
      text-transform: uppercase; /* Uppercase text */
      letter-spacing: 1px; /* Letter spacing */
    }

    .product-card {
      border: none;
      transition: transform 0.2s;
    }
    .product-card:hover {
      transform: translateY(-5px);
    }
    .product-img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    .product-title {
      color: #333;
      font-weight: bold;
    }
    .product-description {
      color: #666;
    }
    .btn-buy {
      background-color: #007bff;
      border-color: #007bff;
      color: #fff;
    }
    .btn-buy:hover {
      background-color: #0056b3;
      border-color: #0056b3;
    }
    .main-heading {
      text-align: center;
      margin-bottom: 40px;
      color: #333;
    }

    .about-section {
      background-color: #f8f9fa;
      padding: 100px 0;
    }
    .about-heading {
      color: #333;
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 30px;
    }
    .about-content {
      color: #666;
      font-size: 1.2rem;
      line-height: 1.6;
    }
    .icon {
      font-size: 2rem;
      color: #007bff;
    }


    .carousel-item img {
      height: 400px;
      object-fit: cover;
    }

    .card {
      transition: transform 0.3s ease;
    }

    .card:hover {
      transform: scale(1.05);
    }



    .product-card {
      border: 1px solid #dee2e6;
      border-radius: 10px;
      transition: transform 0.3s;
    }
    .product-card:hover {
      transform: translateY(-5px);
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    }
    .product-image {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      overflow: hidden;
    }
    .product-image img {
      width: 100%;
      height: auto;
    }
    .product-info {
      padding: 20px;
    }
    .product-title {
      font-weight: bold;
      font-size: 20px;
    }
    .product-description {
      color: #6c757d;
    }
    .product-price {
      font-size: 24px;
      font-weight: bold;
      color: #007bff;
    }

    .jumbotron {
      background-image: url('');
      background-size: cover;
      color: #000000;
    }
    .overlay {
      background-color: rgba(0, 0, 0, 0.5);
    }
    .heading-text {
      font-family: 'Arial Black', sans-serif;
      font-size: 48px;
      text-transform: uppercase;
    }
    .sub-heading {
      font-size: 24px;
    }

    .jumbotron {
      padding: 8rem;
    }


    .item-container {
      max-width: 600px;
      margin: 0 auto;
      padding-top: 50px;
    }
    .item-image {
      max-width: 100%;
      height: auto;
    }
    .item-details {
      background-color: #f8f9fa;
      padding: 20px;
      border-radius: 10px;
    }
    .item-price {
      font-size: 1.5rem;
      font-weight: bold;
    }

  
    .container-img {
      background-size: cover;
      
   }





   .info-section {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  .info-section h2 {
    margin-bottom: 30px;
    text-align: center;
  }
  .info-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
  }
  .info-box h4 {
    margin-bottom: 20px;
    color: #333;
  }
  .info-box p {
    color: #666;
  }


  .card-hover{
    pointer-events: none;
  }

  .container {
    padding: 2rem 0rem;
  }
  
  .table-image {
    
    thead {
      td, th {
        border: 0;
        color: #666;
        font-size: 0.8rem;
      }
    }
    
    td, th {
      vertical-align: middle;
      text-align: center;
      
      &.qty {
        max-width: 2rem;
      }
    }
  }
  
  .price {
    margin-left: 1rem;
  }
  
  .modal-footer {
    padding-top: 0rem;
  }


  
  /* Define font sizes for different screen sizes */
  @media (max-width: 576px) {
    .product-title {
      font-size: 1.5rem; /* Adjust font size for small screens */
    }
    .product-description {
      font-size: 0.8rem; /* Adjust font size for small screens */
    }
  }

  @media (min-width: 577px) and (max-width: 768px) {
    .product-title {
      font-size: 3rem; /* Adjust font size for medium screens */
    }
    .product-description {
      font-size: 1.25rem; /* Adjust font size for medium screens */
    }
  }

  /* Add more media queries as needed for larger screen sizes */